/**
 * WaveSurfer-WP Default Theme
 * Author: X-Raym
 * Author URI: https://www.extremraym.com
 * Date: 2016-12-21
 * Version: 2.6.4
 */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74721400');
  src: url('../font/fontello.eot?74721400#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74721400') format('woff2'),
       url('../font/fontello.woff?74721400') format('woff'),
       url('../font/fontello.ttf?74721400') format('truetype'),
       url('../font/fontello.svg?74721400#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wavesurfer-block {
  box-sizing: border-box;
  margin-bottom: 2em;
}

.wavesurfer-player wave {
  z-index: 0;
}

.wavesurfer-player canvas {
  max-width: none;
}

.wavesurfer-buttons_set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.wavesurfer-block button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wavesurfer-block button, .wavesurfer-time, .wavesurfer-duration {
  font-family: Arial;
  font-size: 1em;
  margin: 1em 1em 1em;
  padding: 0.5em 1em 0.5em;
  border-width: 0;
  outline: none;
  background-color: #2ecc71;
  transition: .3s ease all;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.wavesurfer-download a {
  color: white;
  text-decoration: none;
}

.wavesurfer-time, .wavesurfer-duration {
  font-family: Arial;
  background-color: #4444F0;
}

button.wavesurfer-active-button {
  background-color: #FF4081;
}

button.wavesurfer-paused-button {
  background-color: #FFB642;
}

.wavesurfer-buttons_set button:before, .wavesurfer-buttons_set div:before {
  font-family: "FontAwesome", "fontello";
  font-weight: normal;
  font-style: normal;
  width: 1em;
}

.wavesurfer-time:before, .wavesurfer-duration:before {
  padding-right: 0.3em;
}

button.wavesurfer-play:before {
  content: "\f04b";
}

button.wavesurfer-play.wavesurfer-active-button:before {
  content: "\f04c";
}

button.wavesurfer-paused-button:before {
  content: "\f04b";
  padding-right: 0em;
}

button.wavesurfer-stop:before {
  content: "\f04d";
}

div.wavesurfer-time:before {
  content: "\f041";
}

div.wavesurfer-duration:before {
  content: "\f017";
}

button.wavesurfer-download:before {
  content: "\f019";
}

button.wavesurfer-loop:before {
  content: "\f061";
}

button.wavesurfer-loop.wavesurfer-active-button:before {
  content: "\f01e";
}

button.wavesurfer-mute:before {
  content: "\f028";
  padding-right: 4.5px;
}

button.wavesurfer-mute.wavesurfer-active-button:before {
  content: "\f026\f00d";
  padding-right: 0px;
}

.wavesurfer-time {
  margin-left: Auto;
}

@media (max-width: 550px) {
  .wavesurfer-duration {
    display: none;
  }
  .wavesurfer-time {
    display: none;
  }
  .wavesurfer-block button span, .wavesurfer-time span, .wavesurfer-duration span {
    padding-left: 0.3em;
    display: none;
  }
}

.wavesurfer-block button span, .wavesurfer-time span, .wavesurfer-duration span {
  padding-left: 0.3em;
}

.wavesurfer-block wave:hover {
  cursor: pointer;
}


/* Playlist */

.wavesurfer-list-group {
  counter-reset: section;
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.wavesurfer-list-group li:hover {
  cursor: pointer;
}

.wavesurfer-active-track {
  background: rgba(0, 0, 0, 0.2);
}

#waveform {
  position: relative;
}

.wavesurfer-progress {
  position: relative;
  display: none;
  /* since 2.2 */
}

.wavesurfer-loading[value] {
  border: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  z-index: 10;
  margin-top: -80px;
}

.wavesurfer-marker:hover {
  cursor: pointer;
  text-decoration: underline;
}

.wavesurfer-marker-current {
  background: #FFFF66;
}

/* PLAYLIST - Tracks */
.wavesurfer-list-group .list-group-item {
  display: flex;
  align-items: center;
}

.wavesurfer-playlist-track-artist {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.wavesurfer-playlist-track-title {
  margin-left: 0.5em;
}

.wavesurfer-playlist-track-duration {
  margin-left: auto;
}

.wavesurfer-playlist-track-thumbnail {
  margin-right: 0.5em;
}

.wavesurfer-playlist-track-thumbnail img {
  max-height: 4em;
  width: auto;
}
